/* Root Variables */
:root {
    --b--bg: #ffffff;
    --text: #111;
    --muted: #cbb4b4;
    --accent: #e6c7c7;
    --shadow: rgba(18,18,18,0.06);
    --radius: 14px;
    --max-width: 1100px;
    --gap: 24px;
    font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
  height: 100%;
  background: var(--b--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

/* Global Container */
.container-custom {
   max-width: var(--max-width);
   margin: 0 auto;
   padding: 40px 24px;
}

/* NAVBAR */
.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
    background: white;
    position: sticky;
    top: 0;
    z-index: 9999;
}
.NavBarLeft {
    font-weight: 1000;
    font-size: 25px;
}
.NavBarRight a {
    margin-left: 60px;
    color: var(--text);
    text-decoration: none;
}

/* ---------- INDEX PAGE ---------- */

/* Hero Section */
.Hero {
    position: relative;
    width: 100%;
}

.HeroVideo {
    width: 400px;
    height: 240px;
    overflow: hidden;
    box-shadow: 0 4px 16px #d2d1d1;
    border-radius: 11px;
    margin-top: 150px;
}
.HeroVideo video {
   width: 100%;
    height: 100%;
    object-fit: cover;
}
.HeroWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.HeroText {
    position: absolute;
    right: 5%;
    top: 250px;
    padding-right: 50px;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    font-size:50px ;
    font-weight: 100;
    color: #e6c7c7;
    padding-top: 180px;
}
@keyframes bounceUpDown {
    0%   { top: 180px; }  
    100% { top: 200px; } 
}
.HeroText2 {
    position: absolute;
    left: 5%;
    top: 250px;
    padding-left: 50px;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    font-size:50px ;
    font-weight: 100;
    color: #e6c7c7;
    padding-top: 180px;
}
@keyframes bounceUpDown {

    0%   { top: 180px; }  
    100% { top: 200px; } 
}

/* Quote */

.Quote {
    text-align: center;
    font-size: 20px;
    opacity: 0;
    animation: fadeInOut 6s ease-in-out infinite;
    animation-delay: 2s;
    margin-top: 40px;
}

@keyframes fadeInOut {
    0% {opacity: 0;}
    25% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
    
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
    
}

/* ---------- WORK PAGE ---------- */

.WorkText {
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    gap: 200px;
}

.WorkText1 {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 700px;
}

.WorkText2 {
    position: absolute;
    right: 5%;
    top: 250px;
    font-size: 50px;
    font-weight: 100;
    color: #d0b3b3;;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    padding-right: 54px;
}

@keyframes bounceUpDown {
    0%   { top: 180px; }  
    100% { top: 200px; } 
}

/* Work Grid */
.WorkGrid {
    width: 85%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding-bottom: 50px;
}

.Project {
    box-shadow: 0 4px 16px #d2d1d1;
    border-radius: 20px;
    overflow: hidden;
}
.Project img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    transition: transform 0.4s ease;
}
.Project:hover img {
    transform: scale(1.05);
}
.Project p {
    padding: 20px;
    font-size: 16px;
    color: #111;
}

/* ---------- ABOUT ME ---------- */
.AboutMe {
    display: flex;
    gap: 80px;
    padding: 150px;
}
.AboutMePhoto img {
    width: 350px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.312);
}
.AboutMeText1 {
    font-size: 20px;
}
.AboutMeText2 {
    padding-top: 20px;
    padding-right: 100px;
}
.AboutMeText3 span {
    display: inline-block;
    background: #d0b3b3;
    color: #fffefe;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    transition: background 1s ease;
    cursor: pointer;
}
.AboutMeText3 span:hover
{
    background: #111;
}
.AboutMeText3{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}
/* ---------- CONTACT ---------- */
.Contact {
display: flex;
align-items: center;
gap: 200px;
}
.ContactText1 {
padding-top: 80px;
padding-right: 50px;
padding-left: 150px;
max-width: 550px;

}
.ContactText1 ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.6;  
}
a {
    text-decoration: none;
    color: #d0b3b3;
}
.ContactText3 {
    position: absolute;
    right: 5%;
    top: 250px;
    padding-right: 50px;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    font-size:50px ;
    font-weight: 100;
    color: #d0b3b3;;
}
@keyframes bounceUpDown {
     0%   { top: 180px; }  
    100% { top: 200px; } 
}
.ContactText2 span {
    display: inline-block;
    background: #d0b3b3;
    color: #fffefe;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
}
.ContactText2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
}
.ContactText2{
    transition: background 5s ease;
    cursor: pointer;
}
.ContactText2 span:hover
{
    background: #111;
}
.WorkProjectTittle {
    position: absolute;
    right: 5%;
    top: 250px;
    padding-right: 40px;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    font-size:50px ;
    font-weight: 100;
    color: #d0b3b3;;
    max-width: 600px;
    text-align: right;
    
}
@keyframes bounceUpDown {
     0%   { top: 180px; }  
    100% { top: 200px; } }

.WorkProjectTittle2 {
    position: absolute;
    right: 5%;
    top: 250px;
    padding-right: 40px;
    animation: bounceUpDown 3s ease-in-out infinite alternate;
    font-size:50px ;
    font-weight: 100;
    color: #d0b3b3;;
    max-width: 600px;
    text-align: right;
    
}
@keyframes bounceUpDown {
     0%   { top: 140px; }  
    100% { top: 170px; } }


.TheatreVideo {
    width: 500px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 4px 16px #d2d1d1;
    border-radius: 11px;
    margin-top: 60px;
 }
 .TheatreVideo video {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .HeroWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}